<!DOCTYPE HTML>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale = 1, shrink-to-fit = no">

  <!-- Bootstrap CSS -->
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title th:text = "${club.clubName}"></title>
</head>
<body>
<div class = "container">
  <h3>Average count of people in: <span th:text = "${club.clubName}"></span></h3>
  <hr>

  <table class = "table table-bordered table-striped">
    <thead class = "table-dark">
    <tr>
      <th>Hour</th>
      <th>Avg count</th>
    </tr>
    </thead>

    <tbody>
      <tr th:each="hour : ${#numbers.sequence(0, 23)}" th:with="avgCount=${avg[hour]}">
        <td th:text="${hour} + ':00'" th:if="${avgCount ne 0.0}" />
        <td th:text="${avgCount}" th:if="${avgCount ne 0.0}" />
      </tr>
    </tbody>

  </table>

  <a th:href="@{/Clubs/lastCount}"
     class="btn btn-danger btn-sm">
    Go to Main Page
  </a>
  <a th:href="@{/Clubs/getAvgWeek(clubId=${club.id})}"
     class="btn btn-danger btn-sm">
    Go to Week Average
  </a>
</div>
</body>
</html>